<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.uruzsolusiteknologi.sunmi">

    <application>
        <receiver android:name="com.sunmi.v2.printer.PrinterReceiver"
                  android:enabled="true"
                  android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="woyou.aidlservice.jiuv5.OUT_OF_PAPER_ACTION" />
                <action android:name="woyou.aidlservice.jiuv5.ERROR_ACTION" />
                <action android:name="woyou.aidlservice.jiuv5.NORMAL_ACTION" />
                <action android:name="woyou.aidlservice.jiuv5.COVER_OPEN_ACTION" />
                <action android:name="woyou.aidlservice.jiuv5.COVER_ERROR_ACTION" />
                <action android:name="woyou.aidlservice.jiuv5.KNIFE_ERROR_ACTION_1" />
                <action android:name="woyou.aidlservice.jiuv5.KNIFE_ERROR_ACTION_2" />
                <action android:name="woyou.aidlservice.jiuv5.OVER_HEATING_ACITON" />
                <action android:name="woyou.aidlservice.jiuv5.FIRMWARE_UPDATING_ACITON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
